<div class="event-item">
  <div class="event-inner">
    <div class="event-head" {{action 'toggle_expanded'}}>
      <div class="event-detail">
	<h5 style="display: inline;">
	  <i class="fa {{if expanded 'fa-minus' 'fa-plus'}}" aria-hidden="true"></i>
	  <i style="color:darkred;" class="fa fa-exclamation-circle" aria-hidden="true"></i>
	  Error
	</h5>
	{{#unless expanded}}
	  <i>{{event.params.error}}</i>
	  <i style="font-size:small;">{{event.formated_time_stamp}}</i>
	{{/unless}}
      </div>
    </div>
    {{#liquid-if expanded class="slide"}}
      <table class="table" style="table-layout:fixed;  width:100%;">
	<tbody>
	  <tr>
	    <td style="width:20%"><strong>Message</strong></td>
	    <td><pre class="vw-50">{{event.params.error}}</pre></td>
	  </tr>
	  <tr>
	    <td><strong>Result</strong></td>
	    <td><pre class="vw-50">{{event.params.result}}</pre></td>
	  </tr>
	  <tr>
	    <td><strong>Time Stamp</strong></td>
	    <td><pre class="vw-50">{{event.formated_time_stamp}}</pre></td>
	  </tr>
	</tbody>
      </table>
    {{/liquid-if}}
  </div>
</div>
