<div class="left_col">
  <h4>Entities:</h4>
  <div class="input-group" style="padding-right:1.5em; padding-top:0.5em; padding-bottom:0.5em;">
    {{input action="on_press_search" value=entered_search type="text" class="form-control" placeholder="Filter entities..."}}
    <span class="input-group-btn">
      <button class="btn btn-default fa fa-search" {{action 'on_press_search'}} type="button"></button>
    </span>
  </div><!-- /input-group -->
  <div>
    {{#each sorted_entities as |entity|}}
      {{entity-row entity=entity investigation=investigation search=search}}
    {{/each}}
  </div>
</div>
<div class="right_col">
  <h4>Event Types:</h4>
  <br>
  {{#multiselect-checkboxes onchange=(action 'on_check_event_type') options=sorted_event_types  selection=investigation.selected_event_types updateSelectionValue=false as |event_type isSelected|}}
    <li>
      <label>
	{{input type="checkbox" checked=isSelected}}
	{{event_type.name}}
      </label>
    </li>
  {{/multiselect-checkboxes}}
</div>
