<div class="event-item">
  <div class="event-inner">
    <div class="event-head" {{action 'toggle_expanded'}}>
      <div class="event-detail">
	<h5 style="display: inline;">
	  <i class="fa {{if expanded 'fa-minus' 'fa-plus'}}" aria-hidden="true"></i>
	  <i style="color:darkgreen;" class="fa fa-tasks" aria-hidden="true"></i>
	  Operation
	</h5>
	{{#unless expanded}}
	  <i class="font-size:small">{{event.params.on}}</i>
	  <i style="font-size:small;">{{event.formated_time_stamp}}</i>
	{{/unless}}
      </div>
    </div>
    {{#liquid-if expanded class="slide"}}
      <table class="table" style="table-layout:fixed;  width:100%;">
	<tbody>
	  <tr>
	    <td style="width:20%"><strong>On</strong></td>
	    <td>
	      {{#multiselect-checkboxes  onchange=(action 'on_check_entity') options=operation_entities selection=selected_entities updateSelectionValue=false as |entity isSelected|}}<li>
		<label>
		  {{input type="checkbox" checked=isSelected}}
		  {{entity.str_id}}
		</label>
	      </li>
	      {{/multiselect-checkboxes}}
	    </td>
	  </tr>
	  <tr>
	    <td><strong>Name</strong></td>
	    <td><pre class="vw-50">{{event.name}}</pre></td>
	  </tr>
	  <tr>
	    <td><strong>Time Stamp</strong></td>
	    <td><pre class="vw-50">{{event.formated_time_stamp}}</pre></td>
	  </tr>
	</tbody>
      </table>
    {{/liquid-if}}
  </div>
</div>
