<h3>Timeline:</h3>
<br>
<div class="timeline">
  {{#each sorted_filtered_events key=id as |event|}}
    {{#if event.is_update}}
      {{update-card event=event}}
    {{else}}
      {{#if event.is_error}}
	{{error-card event=event}}
      {{else}}
	{{#if event.is_operation}}
	  {{operation-card event=event investigation=investigation}}
	{{else}}
	  {{creation-card event=event}}
	{{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
</div>
