<h2>Timeline
  <h4 style="float:right;">Timeline Direction: <span class="glyphicon glyphicon-arrow-{{if descending 'up' 'down'}}" {{action "toggle_sorting_order"}}></span></h4>
</h2>
<br>
<div class="timeline">
  {{#each sorted_filtered_events key=id as |event|}}
    {{#if event.event_type.is_update}}
      {{update-card event=event investigation=investigation search=search}}
    {{else}}
      {{#if event.event_type.is_error}}
	{{error-card event=event}}
      {{else}}
	{{#if event.event_type.is_operation}}
	  {{operation-card event=event investigation=investigation search=search}}
	{{else}}
	  {{creation-card event=event investigation=investigation search=search}}
	{{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
</div>
